<%= provide :title, '| New Portfolio' %>

<%= form_for @portfolio, html: {multipart: true} do |f| %>

	<h1>Update Portfolio</h1>

	<%= f.label :title, 'Title:' %>
	<%= f.text_field :title, placeholder: 'Add a title for the portfolio...' %>

	<%= f.label :description, 'Description:' %>
	<%= f.text_area :description, placeholder: 'Add a description for the portfolio...' %>

	<%= f.label :img, 'Upload Image:' %>
	<%= f.file_field :img %>

	<div class="form-btns">
		<%= f.submit 'Update' %>
	</div>
	
<% end %>